.App {
  text-align: center;
  
}
.App-header{
  background-color: #F55A5A;;
  display: flex;
  justify-content: center;
  
  color: white;
  /* float: top; */
}
.brand{
  
  display: flex;
  justify-content: space-between;
}
.App-logo{
  height: 30px;
  width: 30px;
  padding: 5px;
  margin: 10px;
}
.Title{
  font-size: 15px;
  /* margin: 20px; */
}
.Card{
  width: 471px;
  height: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}
.Card-Img{
  width: 125px;
  height: 168px;
  border-radius: 0.4rem;
}
.Location{
  display: flex;
  justify-content:flex-start;
  height: 30px;

}
.Location-img{
  width: 10px;
  height: 10px;
  display: block;
  /* justify-content: flex-end; */
  margin-top: 0.8rem;
  margin-right: 0.1rem;
}
.Location-Title{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
}
.Card-Title{
  font-size: 25px;

  font-weight: 700px;
  line-height: 30px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #2B283A;
margin-bottom: 1rem;

  
}
.Card-Content{
  margin-left: 1rem;
}
.Card-Description{
  display: flex;
  justify-content: flex-start;
  float: left;
  text-align: left;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
}

.Card-Date{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;

color: #2B283A;
display: flex;
justify-content: flex-start;
margin-bottom: 0.4rem;
}
.Location-Map{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
text-decoration-line: underline;
color: #918E9B;
margin-top: 0.8rem;
margin-left: 0.4rem;
}